
/* CSS for main content (Main Body) */
.main-content {
    width: 70%; /* Adjust the width for the Static and Navigation sections */
    height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}

/* Responsive styles */
@media (max-width: 768px) {
    .main-content {
        width: 90%; /* Adjust the width for smaller screens */
    }
}
