/* CSS for the Home section content */
.dynamic-content {
    padding: 20px;
    text-align: left;
}

.dynamic-content h2 {
    font-size: 24px;
    color: #b61212; /* Choose your preferred text color */
}

.dynamic-content p {
    font-size: 16px;
    color: #666; /* Choose your preferred text color */
    line-height: 1.5;
    margin: 10px 0;
}

.personal-projects h1 {
    text-align: left;
    color: #1d577b;
}

/* Responsive styles */
@media (max-width: 768px) {
    .dynamic-content h2 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .dynamic-content p {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .personal-projects h1 {
        font-size: 20px; /* Adjust font size for smaller screens */
    }
}
